name: Pull request main

on:
  pull_request:
    branches:
      - main

jobs:
  Test:
    runs-on: ubuntu-latest
    strategy:
      # You can use PyPy versions in python-version.
      # For example, pypy2 and pypy3
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      # You can test your matrix by printing the current Python version
      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest pytest-cov
          pip install -e .
          pip install -r requirements.txt
      - name: Lint with flake8
        run: |
          flake8 ./label_chess/* --max-line-length=90 --exclude=tests/*,label_chess/VERSION,label_chess/__init__.py,label_chess/controllers/__init__.py,label_chess/views/__init__.py
      - name: Test with pytest
        run: |
          pytest -vvv tests/* --cov=fen2pil

      - name: Test version increase
        run: |
          FORMER_VERSION=$(git show origin/main:fen2pil/VERSION) || FORMER_VERSION=0.0.0
          CURRENT_VERSION=$(python setup.py --version)
          python check_version_increase.py  version_increased --former_version $FORMER_VERSION --current_version $CURRENT_VERSION

  Build:
    runs-on: ubuntu-16.04
    needs: Test
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          architecture: 'x64'
      - name: Install dependencies
        run: |
          sudo apt-get install python3-pip
          python3 -m venv build_exe
          source build_exe/bin/activate
          python3 -m pip install --upgrade pip pyinstaller wheel setuptools
          python3 -m pip install .
          
      - name: Build dist
        run: |
          source build_exe/bin/activate
          CURRENT_VERSION=$(python setup.py --version)
          SITES_PACKAGE_PATH=build_exe/lib/python3.7/site-packages
          bash pyinstaller.sh $SITES_PACKAGE_PATH $CURRENT_VERSION-dev